---
import GtmHead from '../head/gtm-head.astro';
import Og from '../head/og.astro';
import Preconnects from '../head/preconnects.astro';
import Schemadotorg from '../head/schemadotorg.astro';
import Styles from '../head/styles.astro';
import Twitter from '../head/twitter.astro';

const { pageTitle, description, skelly } = Astro.props;
---
<head>
    <title>{pageTitle} | Platform UI. A CSS framework by RIMdev</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <GtmHead />
    <Og pageTitle={pageTitle} description={description} />
    <Preconnects />
    <Schemadotorg pageTitle={pageTitle} description={description} />
    <Styles skelly={skelly}/>
    <Twitter pageTitle={pageTitle} description={description} />
</head>