---
import {site} from '../../data/config.json';
import PuiVersion from '../../mixins/puiversion.js';
const nav = site.menu
const pathname = new URL(Astro.request.url).pathname.split('/');
const firstPath = pathname[1];
const home = '/';
---
<header id="main-header" class="site-header site-header--fixed background--purple block-container px-4">
  <a href="/" class="site-logo h-100 flex flex--align-center flex--justify-center">
    <img src="/images/platform-ui.svg" alt="Platform UI" />
  </a>
  <nav class="site-menu hover-underline hover-underline--white h-100 flex flex--grow flex--align-center text--white px-2" aria-label="Main navigation">
    {nav.map((navItem) => 
      <a class={`p-2 site-menu__item${firstPath === navItem.name.toLowerCase() ? " active" : ""}`} href={navItem.url} >{navItem.name}</a>
    )}
  </nav>
  <div class="h-100 text--white flex flex--justify-end flex--align-center">
    <span class="hide show:tablet mr-2">v{PuiVersion}</span>
    <a href={site.rimdev_url} rel="external noopener" target="_blank" class="text--white" aria-label="RIMdev Blog">
      <i class="pi-rimdev-circle pi-xl text-hover--skyblue transition" aria-hidden="true"></i>
    </a>
  </div>
</header>