---
const { frontmatter } = Astro.props;
const colors = [
"navy",
"skyblue",
"lightblue",
"med-blue",
"beige",
"peach",
"salmon",
"brown",
"orange",
"black",
"dark",
"base",
"light",
"lighter",
"white"
]
const numbers = [1,2,3,4,5,6,7,8,9];
---
<div class="block-container blocks px-1 mb-3 tablet-up-9">
  {colors.map((color) => (
    <div class="block">
      <h3 class="text--capitalize text--light-purple text--size-md">{color}</h3>
      {numbers.map((number) => (
        <div 
          class={`card no-border m-1 rounded-1 background--${color}-a${number}0 pointer`}
          title={`--${color}-a${number}0`}>
        </div>
      ))}
    </div>
  ))}
</div>