---
import BaseLayout from './BaseLayout.astro';
import SidebarMenu from "../components/site/sidebar-menu.astro";
const { frontmatter, headings } = Astro.props;
const originalPath = new URL(Astro.request.url).pathname;
const pathname = originalPath.split('/').slice(1);
const parentFolder = pathname[1];
const home = '/';
const allPages = await Astro.glob('../pages/*');
const allMd = await Astro.glob('../pages/docs/**/*.md');
const allMdx = await Astro.glob('../pages/docs/**/*.mdx');
const allFiles = allMd.concat(allMdx);
---
<BaseLayout pageTitle={frontmatter.title} skelly={frontmatter.skellyCSS}>
  <div id="frame" class="block-container w-100">
    <!-- Mobile Nav & Trigger -->
    <!-- ToDo: Dynamically Hide this if not homepage -->
    <div id="frame-mobile-nav" class="hide:lg-tablet px-0">
      <div class="block-container background--lighter flex--justify-end py-2 px-4">
        <button class="button--plain flex flex--align-center flex--column drawer__open" data-drawer="frame-mobile-nav-drawer">
          <i class="pi-menu pi-lg" aria-hidden="true"></i>
          Docs
        </button>
      </div>
      <div id="frame-mobile-nav-drawer" class="drawer drawer-left">
        <div class="drawer__inner">
          <div class="drawer__content p-0">
            <div class="flex flex--justify-end mr-2">
                <button 
                  class="button button--secondary has-text drawer__close mobile-menu-action m-2 pos-fix pin-right"
                  data-drawer="frame-mobile-nav-drawer"
                >
                    Close
                    <i class="pi-times" aria-hidden="true"></i>
                </button>
            </div>
            <nav role="complementary">
              <!-- todo: sidebar menu -->
              <SidebarMenu files={allFiles}/>
            </nav>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Nav Drawer (Tablet and up) -->
    <div id="frame-nav" class="hide show:lg-tablet tablet-up-3 lg-tablet-up-2">
      <nav id="sidebar-left" role="complementary">
        <!-- ToDo: Sidebar menu -->
        <SidebarMenu files={allFiles}/>
      </nav>
    </div>
    <!-- End isHome -->
     <main id="frame-content" class={`block-container flex--justify-around w-100${originalPath === home ? "" : " lg-tablet-up-10"}`}>
      <article id="content" class={`w-100${originalPath === home ? "" : " lg-tablet-up-9 px-4 pb-4"}`}>
        <h1 class="text--purple mt-5">{ frontmatter.title }</h1>
        <aside class="content-nav on-this-page hide:lg-tablet background--lighter p-3 mb-4 text--capitalize">
          <h2 class="text--size-md">On This Page</h2>
          <ul class="list">
            {
              headings
              .filter(heading => (heading.depth < 3 && heading.depth > 2))
              .map((heading) => (
                <li>
                  <a href={`#${heading.slug}`}>{heading.text}</a>
                </li>
              ))
            }
          </ul>
        </aside>
        <!-- Main content -->
        <slot />
      </article>
      <aside class="content-nav on-this-page hide show:lg-tablet tablet-up-4 lg-tablet-up-3 laptop-up-2 pr-4 text--capitalize">
        <h2 class="text--size-md">On This Page</h2>
        <ul class="list">
          {
            headings
            .filter(heading => heading.depth < 3 && heading.depth > 2)
            .map((heading) => (
              <li class={`${heading.depth === 3 ? "pl-3" : ""}`}>
                <a href={`#${heading.slug}`}>{heading.text}</a>
              </li>
            ))
          }
        </ul>
      </aside>
    </main>
  </div>
</BaseLayout>